:root {
  --bg: #0b0b0b;
  --card: rgba(255, 255, 255, 0.05);
  --border: rgba(255, 255, 255, 0.08);
  --gold: #d4af37;
  --white: #ffffff;
  --muted: #cfcfcf;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg);
  color: var(--muted);
  margin: 0;
  padding: 0;
}

.container-book {
  max-width: 950px;
  margin: 40px auto 80px;
  background: var(--card);
  border: 1px solid var(--border);
  padding: 30px 40px;
  border-radius: 14px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 25px;
  text-align: center;
  font-weight: 600;
}

/* Form Layout */
.booking-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-field label {
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: var(--gold);
}


input,
select,
textarea {
  padding: 12px 14px;
  background: #1a1a1a;
  border: 1px solid var(--border);
  border-radius: 8px;
  color: var(--white);
  font-size: 1rem;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #888;
}

textarea {
  resize: none;
}


.btn-submit {
  background: var(--gold);
  color: #000;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 1.05rem;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.btn-submit:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .container-book {
    padding: 25px;
  }

  .form-row {
    flex-direction: column;
    gap: 15px;
  }
}
